[submodule "research/plugins/obsidian-tasks-group/obsidian-tasks"]
	path = research/plugins/obsidian-tasks-group/obsidian-tasks
	url = git@github.com:obsidian-tasks-group/obsidian-tasks.git
[submodule "research/themes/colineckert/obsidian-things"]
	path = research/themes/colineckert/obsidian-things
	url = git@github.com:colineckert/obsidian-things.git
[submodule "research/themes/kepano/obsidian-minimal"]
	path = research/themes/kepano/obsidian-minimal
	url = git@github.com:kepano/obsidian-minimal.git
[submodule "research/plugins/blacksmithgu/obsidian-dataview"]
	path = research/plugins/blacksmithgu/obsidian-dataview
	url = git@github.com:blacksmithgu/obsidian-dataview.git
[submodule "research/core/obsidian-help"]
	path = research/core/obsidian-help
	url = git@github.com:obsidianmd/obsidian-help.git
[submodule "research/core/obsidian-developer-docs"]
	path = research/core/obsidian-developer-docs
	url = git@github.com:obsidianmd/obsidian-developer-docs.git
[submodule "research/core/obsidian-api"]
	path = research/core/obsidian-api
	url = git@github.com:obsidianmd/obsidian-api.git
[submodule "research/core/obsidian-sample-plugin"]
	path = research/core/obsidian-sample-plugin
	url = git@github.com:obsidianmd/obsidian-sample-plugin.git
[submodule "research/core/obsidian-sample-theme"]
	path = research/core/obsidian-sample-theme
	url = git@github.com:obsidianmd/obsidian-sample-theme.git
[submodule "research/core/obsidian-releases"]
	path = research/core/obsidian-releases
	url = git@github.com:obsidianmd/obsidian-releases.git
[submodule "research/core/obsidian-skills"]
	path = research/core/obsidian-skills
	url = git@github.com:kepano/obsidian-skills.git
[submodule "research/plugins/obsidian-community/obsidian-kanban"]
	path = research/plugins/obsidian-community/obsidian-kanban
	url = git@github.com:obsidian-community/obsidian-kanban.git
[submodule "research/plugins/mofukuru/SideNote"]
	path = research/plugins/mofukuru/SideNote
	url = git@github.com:mofukuru/SideNote.git
[submodule "research/plugins/Vinzent03/obsidian-advanced-uri"]
	path = research/plugins/Vinzent03/obsidian-advanced-uri
	url = git@github.com:Vinzent03/obsidian-advanced-uri.git
[submodule "research/plugins/liamcain/obsidian-calendar-plugin"]
	path = research/plugins/liamcain/obsidian-calendar-plugin
	url = git@github.com:liamcain/obsidian-calendar-plugin.git
[submodule "research/plugins/logancyang/obsidian-copilot"]
	path = research/plugins/logancyang/obsidian-copilot
	url = git@github.com:logancyang/obsidian-copilot.git
[submodule "research/plugins/zsviczian/obsidian-excalidraw-plugin"]
	path = research/plugins/zsviczian/obsidian-excalidraw-plugin
	url = git@github.com:zsviczian/obsidian-excalidraw-plugin.git
[submodule "research/plugins/coddingtonbear/obsidian-local-rest-api"]
	path = research/plugins/coddingtonbear/obsidian-local-rest-api
	url = git@github.com:coddingtonbear/obsidian-local-rest-api.git
[submodule "research/plugins/obsidianmd/obsidian-maps"]
	path = research/plugins/obsidianmd/obsidian-maps
	url = git@github.com:obsidianmd/obsidian-maps.git
