[submodule "research/plugins/obsidian-tasks-group/obsidian-tasks"]
	path = research/plugins/obsidian-tasks-group/obsidian-tasks
	url = git@github.com:obsidian-tasks-group/obsidian-tasks.git
[submodule "research/themes/colineckert/obsidian-things"]
	path = research/themes/colineckert/obsidian-things
	url = git@github.com:colineckert/obsidian-things.git
